<script src="../appn.js"></script>

<h2>Employee Details</h2> 

<hr/>
<div *ngIf="employee">
  <div>
    <label><b>Name: </b></label> {{employee.firstName}}
  </div>
  <div>
    <label><b>Employee Id: </b></label> {{employee.ide}}
  </div>
  <div>
    <label><b>Address: </b></label> {{employee.address}}
  </div>
  <div>
    <label><b>Salary: </b></label> {{employee.salary}}
  </div>
  <div>
    <label><b>Designation: </b></label> {{employee.desig}}
  </div>  
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Employee List</button><br>